<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-lg-12">
  <h2 class="eventName"> Lets make an Event: <input type="text" ng-model="event.name" placeholder="Name"></h2>
<div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <h3 class="colTitle">Select Dates:</h3>
    <div class="jumbotron">
      <div style="display:inline-block; float:left">
        <datepicker ng-click="updateDay()" ng-model="activeDate" min-date="minDate" class="well well-sm" multi-select='selectedDates'></datepicker>
      </div>
      <div class="">
        Days:
      </div>
      <div style="clear:both">
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <h3 class="colTitle">Select Times:</h3>
    <div class="jumbotron">
      <tabset>
        <tab ng-repeat="day in days" heading="{{::day[0].timeInMs | date:'shortDate' }}">
          <div id="timesTable">
            <table class="table timesTable"  cellpadding="0" cellspacing="0">
              <tr>
                <th >Time:</th>
                <td>Select: </td>
              </tr>
              <tr ng-repeat-start="hour in dayHours[$index]">
                <td class="hour" rowspan="2">{{::day[$index*2].timeInMs | date: 'h a'}}</td>
                <td ng-class="{selected: day[2*$index].suggested }" class="minutes" ng-mousedown="startDrag(day,2*$index)" ng-mouseover="onMouseDown(day,2*$index)" ng-mouseup="onMouseUp(day,2*$index)">
                  :{{::day[2*$index].timeInMs | date: 'mm'}}
                </td>
              </tr>
              <tr ng-repeat-end>
                <td ng-class="{selected: day[1+2*$index].suggested}" class="minutes" ng-mousedown="startDrag(day,1+2*$index)" ng-mouseover="onMouseDown(day,2*$index+1)" ng-mouseup="onMouseUp(day,2*$index)">
                  :{{::day[$index*2+1].timeInMs | date:'m'}}
                </td>
              </tr>
            </table>
          </div>
        </tab>
      </tabset>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <h3 class="colTitle">Settings:</h3>
    <div class="jumbotron">
      <h4 class="colTitle">Description</h4>
       <textarea ng-model="event.description" class="form-control" > </textarea>
       <button ng-click="saveEvent()" class="btn btn-primary">1 More Step</button>
    </div>
  </div>

<footer class="footer">
  <div class="container">
    <p>Footer Here</p>
  </div>
</footer>
